<!DOCTYPE html>
<html lang="en">
<head>
    <form action = "/home" method = "POST"></form>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Section</title>
</head>
<body>
    <figure class="figure">
        <img src="\static\Flask_logo.png" class="figure-img img-fluid rounded" align=center>
        <figcaption class="figure-caption">Made with Python and Flask.</figcaption>
    </figure>
    App Made for Learning Purpose Only. 
    Made By Varun Sakunia.
</body>
</html>